<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Game</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>

<header th:insert="~{fragments/header :: copy}"></header>
<nav th:insert="~{fragments/menu :: copy}"></nav>

<h1>Add Game</h1>
<form th:method="POST" th:action="@{/game/create}" >
    <table >
        <tr>
            <td></td>
            <td> <input name="id" type="hidden" class="form-control" /> </td>
        </tr>
        <tr>
            <td>Name : </td>
            <td><input type="text" class="form-control" name="name" /></td>
        </tr>
        <tr>
            <td>Description :</td>
            <td><input type="text" class="form-control" name="description" /></td>
        </tr>
        <tr>
            <td>Year :</td>
            <td><input type="text" class="form-control" name="year" /></td>
        </tr>
        <tr>
            <td>Genre :</td>
            <td><select name="genre" class="form-control">

                <option th:each="genre : ${T(com.web.portal.models.Genre).values()}"
                        th:value="${genre}"
                        th:text="${genre}">
                </option>

            </select></td>
        </tr>
        <tr>
            <td>Company :</td>
            <td><select name="comp">
                <option th:each="company : ${companies}"
                        th:value="${company.id}"
                        th:text="${company.name}">
                </option>
            </select></td>
        </tr>

        <tr>
            <td> </td>
            <td><input type="submit" value="Save" /></td>
        </tr>
    </table>
</form>

<footer th:insert="~{fragments/footer :: copy}"></footer>

</body>
</html>
