<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>

<header th:insert="~{fragments/header :: copy}"></header>
<nav th:insert="~{fragments/menu :: copy}"></nav>

<h1>Edit Game</h1>
<form th:method="POST" th:object="${game}" th:action="@{/game/update}" >
    <table >
        <tr>
            <td></td>
            <td> <input type="hidden" class="form-control" th:field="*{id}" /> </td>
        </tr>
        <tr>
            <td>Name : </td>
            <td><input type="text" class="form-control" th:field="*{name}" /></td>
        </tr>
        <tr>
            <td>Description :</td>
            <td><input type="text" class="form-control" th:field="*{description}" /></td>
        </tr>
        <tr>
            <td>Year :</td>
            <td><input type="text" class="form-control" th:field="*{year}" /></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="hidden" class="form-control" th:field="*{genre}" /></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="hidden" class="form-control" th:field="*{company.id}" /></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="hidden" class="form-control" th:field="*{company.name}" /></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="hidden" class="form-control" th:field="*{company.country}" /></td>
        </tr>

        <tr>
            <td> </td>
            <td><input type="submit" value="Edit Save" /></td>
        </tr>
    </table>
</form>

<footer th:insert="~{fragments/footer :: copy}"></footer>

</body>
</html>
