<html xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <title>Home</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>

<header th:insert="~{fragments/header :: copy}"></header>
<nav th:insert="~{fragments/menu :: copy}"></nav>


<h1>Edit Company</h1>
<form th:method="POST" th:object="${company}" th:action="@{/company/update}" >
    <table >
        <tr>
            <td></td>
            <td><input type="hidden" class="form-control" th:field="*{id}" /></td>
        </tr>
        <tr>
            <td>Name : </td>
            <td><input type="text" class="form-control" th:field="*{name}" /></td>
        </tr>
        <tr>
            <td>Country :</td>
            <td><input type="text" class="form-control" th:field="*{country}" /></td>
        </tr>

        <tr>
            <td> </td>
            <td><input type="submit" value="Save" /></td>
        </tr>
    </table>
</form>

<footer th:insert="~{fragments/footer :: copy}"></footer>

</body>
</html>